/*
	Delex by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* TABLE OF CONTENTS
	1) Reset
	2) Help classes
	3) Pre-loader
	4) Parallax
	5) Navigation
	6) Home
	7) Services
	8) Twitter-tweets
	9) Contact
	10) Footer
	11) Responsive
	12) Back-to-top
*/

/* 1 Reset
----------------------------------------------------------------------------- */

html,
body {
  height: 100%;
}
body {
  font-weight: 400;
  color: #535353;
  font-family: "Signika Negative", sans-serif;
}
*,
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus {
  outline: 0 !important;
}
iframe {
  border: none;
  width: 100%;
}
a {
  color: inherit;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
p {
  color: #737373;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Signika Negative", sans-serif;
}
textarea {
  max-width: 100%;
}
.btn {
  font-size: 14px;
  font-family: "Signika Negative", sans-serif;
  text-transform: uppercase;
  border-radius: 0;
}
.btn:focus,
.btn:active:focus {
  outline: none;
  color: #ffffff;
}
.btn-custom,
.btn-custom-sm {
  border-radius: 3px;
  padding: 0.8em 1.8em;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  text-transform: uppercase;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom-sm:hover,
.btn-custom-sm:focus {
  color: #fff;
  background-color: #6c6767;
  border-color: #6c6767;
}
.btn-custom-sm {
  padding: 0.5em 1em;
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0px;
  height: 38px;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.progress {
  height: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #bbb;
}
.progress-bar {
  height: 6px;
  box-shadow: none;
  margin: 1px;
  border-radius: 3px;
}
section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
}

/* 2 Help-classes
----------------------------------------------------------------------------- */
.no-padding {
  padding: 0px;
}
.color-l-orange {
  color: #ff8b8b;
}
.color-l-blue {
  color: #77afea;
}
.color-l-yellow {
  color: #f4d382;
}
.color-l-purple {
  color: #ad8ede;
}
.color-l-pink {
  color: #ff3e75;
}
.color-l-green {
  color: #77dfa2;
}
.bg-light-orange {
  background-color: #ff8b8b;
  color: #ffffff;
}
.bg-light-blue {
  background-color: #77afea;
  color: #ffffff;
}
.bg-light-yellow {
  background-color: #f4d382;
  color: #ffffff;
}
.bg-light-purple {
  background-color: #ad8ede;
  color: #ffffff;
}
.bg-light-pink {
  background-color: #ff3e75;
  color: #ffffff;
}
.bg-light-green {
  background-color: #77dfa2;
  color: #ffffff;
}
.title {
  font-family: "Kameron", serif;
  font-weight: 700;
}
.titleHR {
  background: none repeat scroll 0 0 #e1e1e1;
  height: 3px;
  margin: 20px auto 0;
  position: relative;
  text-align: center;
  width: 130px;
  margin-bottom: 20px;
}
.titleHR span {
  border-left: 5px solid #f7f7f7;
  border-right: 5px solid #f7f7f7;
  display: inline-block;
  height: 3px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0px;
  width: 50px;
}

/* 3 Pre-loader
----------------------------------------------------------------------------- */
.animationload {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff; /* change if the mask should have another color then white */
  z-index: 999999;
}
.loader {
  width: 200px;
  height: 200px;
  font-size: 24px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/preloader.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

/* 4 Parallax
----------------------------------------------------------------------------- */
.parallax {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

/* 5 Navigation
----------------------------------------------------------------------------- */
.navbar-custom {
  background: transparent;
  margin-bottom: 0px;
  z-index: 1000;
  border: none;
  color: #333;
  position: fixed;
  transition: background-color 1s ease-in-out, border 1s ease-in-out;
  -moz-transition: background-color 1s ease-in-out, border 1s ease-in-out;
  -webkit-transition: background-color 1s ease-in-out, border 1s ease-in-out;
  -o-transition: background-color 1s ease-in-out, border 1s ease-in-out;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover {
  color: #ffffff;
  padding: 30px 15px;
  font-size: 22px;
  font-weight: 700;
  font-family: "Kameron", sans;
}
.small .navbar-brand,
.small .navbar-brand:hover {
  color: #333;
}
.navbar-custom .nav {
  padding: 15px 0px;
}
.navbar-custom .navbar-nav > li > a {
  color: #e3e3e3;
  font-size: 14px;
  text-transform: uppercase;
}
.small .navbar-nav > li > a {
  color: #000;
}

nav.small {
  background-color: #fff;
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus,
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  background-color: transparent;
}

/* 6 Home
----------------------------------------------------------------------------- */
.main-home {
  padding: 330px 0px 250px 0;
  z-index: 1;
  text-align: center;
  position: relative;
  font-size: 13px;
  color: #fff;
  background: #000;
  min-height: 400px;
}
.home-page-photo {
  background-image: url(../images/danteh1_auto_x2.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  opacity: 0.5;
  right: 0;
  bottom: 0;
  left: 0;
}

.home__header-content {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.home__header-content h1 {
  font-family: "Kameron", serif;
}
.home__header-content p {
  font-weight: 300;
  font-size: 16px;
  margin-top: 20px;
}
.home__header-content a.btn-default {
  margin-top: 15px;
}
/*--- Carousel --*/
#main-home-carousel .intro-title {
  font-family: "Kameron", serif;
}
#main-home-carousel .intro-text {
  color: #cacaca;
  font-weight: 300;
  margin-bottom: 30px;
}

/* 7 Services
----------------------------------------------------------------------------- */
.services-item {
  color: white;
  padding: 40px 20px;
  transition: all 0.5s;
  margin: 15px 0px;
  border: 1px solid #8e978c;
  border-radius: 20px;
  background-color: #00bc95;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  width: 100%;
}

.item1 {
  transition: all 0.5s;
}

.item1:hover {
  border-radius: 20px;
  margin-top: 5px;
  margin-left: 5px;
  transition: all 0.6s;
  margin-bottom: -5px;
  margin-right: -5px;
}
.item1:hover .services-item {
  text-shadow: 2px 2px 5px #000000;
  background-image: url("/images/inferno1.jpeg");
  background-repeat: no-repeat;
  background-position-x: 0px, -25px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 188, 149, 0),
      rgba(0, 188, 149, 0.7),
      rgba(0, 188, 149, 1)
    ),
    url("/images/inferno1.jpeg");
  transition: all 0.6s;
  animation: slide1 1s forwards;
  animation-timing-function: ease;
  background-repeat: no-repeat;
  background-size: cover;
}

.item1:hover select {
  background-color: transparent;
  box-shadow: 4px -4px 8px 0px rgba(0, 0, 0, 0.2);
}

.item2 {
  transition: all 0.5s;
}

.item2:hover {
  border-radius: 20px;
  margin-top: 5px;
  transition: all 0.5s;
  margin-bottom: -5px;
}
.item2:hover .services-item {
  text-shadow: 0px -1px 2px #000000;
  background-image: url("/images/purgatorio.jpeg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 188, 149, 0),
      rgba(0, 188, 149, 0.7),
      rgba(0, 188, 149, 1)
    ),
    url("/images/purgatorio.jpeg");
  /* background-image:url("/images/inferno.jpg"),linear-gradient(#00bc95);
	background-blend-mode:luminosity; */
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
  animation: slide2 1s forwards;
  animation-timing-function: ease;
}
.item2:hover select {
  background-color: transparent;
  box-shadow: 4px -4px 8px 0px rgba(0, 0, 0, 0.2);
}

.item3 {
  transition: all 0.5s;
}

.item3:hover {
  border-radius: 20px;
  margin-top: 5px;
  margin-right: 5px;
  transition: all 0.6s;
  margin-bottom: -5px;
  margin-left: -5px;
}
.item3:hover .services-item {
  text-shadow: -2px 2px 5px #000000;
  background-image: url("/images/paradiso.jpeg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 188, 149, 0),
      rgba(0, 188, 149, 0.7),
      rgba(0, 188, 149, 1)
    ),
    url("/images/paradiso.jpeg");
  /* background-image:url("/images/inferno.jpg"),linear-gradient(#00bc95);
	background-blend-mode:luminosity; */
  transition: all 0.6s;
  animation: slide3 1s forwards;
  animation-timing-function: ease;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .item3:hover i{
	box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.2);
} */
/* .item3:hover input{
	background-color: transparent;
	box-shadow: 4px -4px 8px 0px rgba(0, 0, 0, 0.2);
} */

.item3:hover select {
  background-color: transparent;
  box-shadow: 4px -4px 8px 0px rgba(0, 0, 0, 0.2);
}

/* 
input[type=text], datalist{
	width: 100%;
	padding: 12px 10px;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	color: white;
	background-color: #00bc95;
	
} */

select {
  font-size: 14px;
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  background-color: #00bc95;
  transition: all 0.5s ease;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

option {
  background-color: white;
  color: black;
  font-size: 16px;
  height: 100%;
}
option::-moz-selection {
  background-color: #019e7f;
}
label {
  font-size: 16px;
  float: left;
  margin: 5px 5px;
}
.services-item i {
  color: white;
  font-size: 48px;
  margin-bottom: 20px;
  align-content: center;
}
.services-item h5 {
  color: white;
  font-weight: 700;
  font-size: 16px;
  margin-top: 20px;
}
.services-item p {
  color: white;
  text-align: center;
}

@keyframes slide1 {
  0% {
    opacity: 0;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 188, 149, 0),
        rgba(0, 188, 149, 0.7),
        rgba(0, 188, 149, 1)
      ),
      url("/images/inferno1.jpeg");
    background-position-x: -25px;
  }
  100% {
    opacity: 1;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 188, 149, 0),
        rgba(0, 188, 149, 0.7),
        rgba(0, 188, 149, 1)
      ),
      url("/images/inferno1.jpeg");
    background-position-x: -25px;
  }
}

@keyframes slide2 {
  0% {
    opacity: 0;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 188, 149, 0),
        rgba(0, 188, 149, 0.7),
        rgba(0, 188, 149, 1)
      ),
      url("/images/purgatorio.jpeg");
    background-position-x: center;
  }
  100% {
    opacity: 1;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 188, 149, 0),
        rgba(0, 188, 149, 0.7),
        rgba(0, 188, 149, 1)
      ),
      url("/images/purgatorio.jpeg");
    background-position-x: center;
  }
}

@keyframes slide3 {
  0% {
    opacity: 0;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 188, 149, 0),
        rgba(0, 188, 149, 0.7),
        rgba(0, 188, 149, 1)
      ),
      url("/images/paradiso.jpeg");
    background-position-x: center;
  }
  100% {
    opacity: 1;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 188, 149, 0),
        rgba(0, 188, 149, 0.7),
        rgba(0, 188, 149, 1)
      ),
      url("/images/paradiso.jpeg");
    background-position-x: center;
  }
}

/* 11 Twitter-tweets
----------------------------------------------------------------------------- */
#twitter_tweet {
  background: url(../images/pattern1.png), url(../images/bg-4.jpg);
}
.twitter_tweet h5 {
  font-weight: 300;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.77);
}
.twitter_tweet i {
  font-size: 30px;
}

/* 13 Contact
----------------------------------------------------------------------------- */
.form-main {
  padding-top: 30px;
}
.error {
  margin: 8px 0px;
  display: none;
  color: red;
}
#ajaxsuccess {
  font-size: 16px;
  width: 100%;
  display: none;
  clear: both;
  margin: 8px 0px;
}
#contact .con_sub_text {
  margin-top: 20px;
}
#contact textarea.form-control {
  height: 120px;
}

/* 14 Footer
----------------------------------------------------------------------------- */
footer p {
  margin-bottom: 20px;
}
#footer {
  padding: 40px 0px 0px 0px;
  background-color: #f7f7f7;
  border-top: 1px solid #e4e4e4;
}
.footer-content {
  padding: 40px 0px 80px;
}
.footer-bottom {
  background-color: #000;
  color: #a1a1a1;
  padding: 20px 0px 1px;
}
.footer-socials {
  position: relative;
  margin: 47px 0px 20px 0px;
  text-align: center;
}
.footer-socials a {
  display: inline-block;
}
.footer-socials i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  background: transparent;
  border: 2px solid #e7ebef;
  margin: 0px auto;
  position: relative;
  display: inline-block;
  margin: 0px 5px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  color: #282a2e;
}
/* 15 Responsive
----------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  .navbar-custom {
    background-color: #ffffff;
  }
  .navbar-custom .navbar-brand {
    color: #000;
    padding: 15px;
  }
  .work-list li {
    width: 100%;
    display: block;
  }
}

/* 16 Back-to-top
----------------------------------------------------------------------------- */
.back-to-top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 0px;
  right: 20px;
  display: none;
  text-align: center;
  z-index: 10000;
}
.back-to-top i {
  color: #fff;
  font-size: 15px;
  display: block;
  line-height: 33px;
}

/*==================================
STYLE SWITHER - Demo purpose only
==================================*/

#style-switcher div h3 {
  color: #1d1d1d;
  font-size: 16px;
  margin: 8px 3px 12px;
}
#style-switcher {
  background: none repeat scroll 0 0 #ffffff;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.08);
  left: -189px;
  position: fixed;
  top: 17%;
  width: 189px;
  z-index: 9999;
  padding: 10px 5px;
}
#style-switcher div {
  padding: 5px 10px;
}
#style-switcher .bottom {
  background: none repeat scroll 0 0 #ffffff;
  color: #252525;
  padding: 0;
}
#style-switcher .bottom a.settings {
  background: none repeat scroll 0 0 #ffffff;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.08);
  display: block;
  height: 41px;
  position: absolute;
  right: -40px;
  top: 0;
  width: 40px;
  padding: 3px;
}
#style-switcher .bottom a {
  text-decoration: none;
}

#style-switcher .bottom a.settings {
  margin-left: 8px;
  color: #6b6b6b;
  font-size: 30px;
  position: absolute;
  margin-top: 0px;
}

ul.pattern {
  list-style: none outside none;
  margin: 0 0 0px;
  overflow: hidden;
  padding: 0;
  border-radius: 0px;
}
ul.pattern li {
  float: left;
  margin: 2px;
}
ul.pattern li a {
  cursor: pointer;
  display: block;
  height: 35px;
  width: 35px;
}

ul.pattern .color1 {
  background-color: #00bc95;
}
ul.pattern .color2 {
  background-color: #d13a7a;
}
ul.pattern .color3 {
  background-color: #e24348;
}
ul.pattern .color4 {
  background-color: #1aace7;
}
ul.pattern .color5 {
  background-color: #6a5a8c;
}
ul.pattern .color6 {
  background-color: #f94c00;
}
ul.pattern .color7 {
  background-color: #1f7f5c;
}
ul.pattern .color8 {
  background-color: #336699;
}
ul.pattern .color9 {
  background-color: #fbce43;
}
ul.pattern .color10 {
  background-color: #a06081;
}
ul.pattern .color11 {
  background-color: #737f97;
}
ul.pattern .color12 {
  background-color: #9932cc;
}

@media only screen and (max-width: 479px) {
  #style-switcher {
    display: none;
  }

  .item1 {
    margin: 0px 0px;
  }
  .home-page-photo {
    background-position-x: -50px;
  }
}

/* search bar */

.s003 {
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center center;
  padding: 0px;
  margin-right: -50px;
}

.modal-in hr {
  background-color: #6b6b6b;
  height: 1px;
  width: 80%;
}

.s003 {
  width: 100%;
  max-width: 790px;
  margin-bottom: 0px;
}

.s003 .inner-form {
  background: transparent;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.s003 .inner-form .input-field {
  height: 40px;
  padding-bottom: 3px;
}

.s003 .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 5px 32px;
  font-size: 16px;
  color: white;
  border-bottom: 1px solid #e3e3e3;
  border-radius: 0;
}

.s003 .inner-form .input-field input.placeholder {
  color: #888;
  font-size: 14px;
}

.s003 .inner-form .input-field input:-moz-placeholder {
  color: #888;
  font-size: 14px;
}

.s003 .inner-form .input-field input::-webkit-input-placeholder {
  color: #888;
  font-size: 16px;
}

.s003 .inner-form .input-field input:hover,
.s003 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
  border-color: #fff;
}

.s003 .inner-form .input-field.first-wrap {
  width: 200px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.s003
  .inner-form
  .input-field.first-wrap
  .choices__inner
  .choices__item.choices__item--selectable.choices__placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  opacity: 1;
  color: #888;
}

.s003
  .inner-form
  .input-field.first-wrap
  .choices__inner
  .choices__list--single
  .choices__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  color: #555;
}

.s003
  .inner-form
  .input-field.first-wrap
  .choices__list.choices__list--dropdown
  .choices__item--selectable {
  padding-right: 0;
}

.s003
  .inner-form
  .input-field.first-wrap
  .choices__list--dropdown
  .choices__item--selectable.is-highlighted {
  background: #fff;
  color: #00bc95;
}

.s003
  .inner-form
  .input-field.first-wrap
  .choices__list--dropdown
  .choices__item {
  color: #555;
  min-height: 24px;
}

.s003 .inner-form .input-field.second-wrap {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.s003 .inner-form .input-field.third-wrap {
  width: 40px;
}

.small .s003 .inner-form .input-field.third-wrap .btn-search {
  color: black;
}

.small .s003 .inner-form .input-field input {
  border-color: black;
  color: black;
}

.s003 .inner-form .input-field.third-wrap .btn-search {
  height: 40px;
  width: 40px;
  white-space: nowrap;
  color: #e3e3e3;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  background-color: transparent;
  margin-left: 5px;
}

.s003 .inner-form .input-field.third-wrap .btn-search svg {
  width: 16px;
}

.s003 .inner-form .input-field.third-wrap .btn-search:hover {
  background: #00bc95;
  border-radius: 20px;
}

.s003 .inner-form .input-field.third-wrap .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

@media screen and (max-width: 992px) {
  .s003 .inner-form .input-field {
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .s003 .inner-form {
    padding: 5px;
  }
  .s003 .inner-form .input-field {
    margin-bottom: 20px;
  }
  .s003 .inner-form .input-field input {
    padding: 10px 15px;
    padding-right: -10px;
    color: black;
  }
  .s003 .inner-form .input-field.first-wrap {
    width: 100%;
    border-right: 0;
  }
  .s003 .inner-form .input-field.first-wrap .choices__inner {
    padding: 10px 15px;
  }
  .s003 .inner-form .input-field.second-wrap {
    width: 100%;
    margin-bottom: 30px;
  }
  .s003 .inner-form .input-field.third-wrap {
    margin-bottom: 0;
    width: 100%;
  }
}
